@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Inicio</PageTitle>

<h1 class="">Hello, world!</h1>

@* <div class="row mt-4">
    <div class="col-4">
        <button class="btn btn-success" @onclick="DemoSucces">Demo Toastr Success</button>
        <button class="btn btn-danger" @onclick="DemoError">Demo Toastr Error</button>
    </div>
</div> *@